<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Final Year Project</title>
    <link rel="stylesheet" href="https://scientias.in/xsdef/css/bootstrap.min.css?m=1">
	<link rel="stylesheet" href="https://scientias.in/xsdef/L15/style.css?m=2">
</head>

    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="https://scientias.in/xsdef/L15/logo.svg" style="width:70px;height:70px"/></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

				
					
                    <li class="nav-item active">
				        <a class="nav-link" href="/FaultSeverityDatasetInfo">Fault Severity Dataset Info</a>
			        </li>


                    <li class="nav-item active">
				        <a class="nav-link" href="/EventTypeDatasetInfo">Event Type Dataset Info</a>
			        </li>


                    <li class="nav-item active">
				        <a class="nav-link" href="/ResourceTypeDatasetInfo">Resource Type Dataset Info</a>
			        </li>


                    <li class="nav-item active">
				        <a class="nav-link" href="/SeverityTypeDatasetInfo">Severity Type Dataset Info</a>
			        </li>

					<li class="nav-item active">
				        <a class="nav-link" href="/FeatureDatasetInfo">Feature Dataset Info</a>
			        </li>

                    <li class="nav-item active">
				        <a class="nav-link" href="/FaultClassCount">Fault Count Class Wise</a>
			        </li>


                    <li class="nav-item active">
				        <a class="nav-link" href="/ResourceTypeClassCount">Resource Type Class Wise</a>
			        </li>


                    <li class="nav-item active">
				        <a class="nav-link" href="/Prediction">Prediction</a>
			        </li>


				
					<li class="nav-item">
						<a class="nav-link" href="/">Logout</a>
					</li>
				</ul>
			</div>
        </nav>
        <br/>
        <div class="content container">
            {%  block content %}
            
            {% endblock  %}
            <div class="mt-5 pt-5"></div>
        </div>
    </body>

</html>

                